<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <title>Stripe-Connected-Account-Success</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4 offset-md-4" style="padding: 40px">
          <div class="card p-4">
            <div class="card-body">
              <h5 class="card-title text-center">Stripe Connected Account</h5>
              <hr />
              <p class="card-text">Stripe Account connected Sucessfully</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
